* {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

main {
    width: 100%;
    height: 100vh;
    background-color: rgb(18, 6, 27);
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 400px;
    background-color: green;
    border-radius: 10px;
}

.pista1,
.pista2 {
    display: flex;
    align-items: center;
    width: 90%;
    height: 30px;
    background-color: rgb(32, 32, 32);
    border-radius: 2px;
}

.blue-car {
    width: 40px;
    height: 40px;
    margin-left: 2px;
}

.red-car {
    width: 37px;
    height: 30px;
    margin-left: 2px;
}